@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color: #c1d607;
    --second-color: #626a19;
    --text-color: #9ea019;
    --bg-color: rgb(253, 249, 249);

    --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
}

img{
    width: 100%;
}
body{
    margin-top: 11rem;
    color: var(--text-color);
}
section{
    padding: 7rem 0 3rem;
}
header{
    display: block;
    width: 100%;
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}


.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 35px;
}

.logo{
    width: 12%;
}

.navbar{
    display: flex;
}

.navbar a{
    padding: 8px 17px;
    color: var(--main-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover{
    color: var(--second-color);
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    display: none;
}
#menu{
    display: none;
}

.btn{
    padding: 8px 22px;
    background: var(--text-color);
    color: var(--bg-color);
    border-radius: 5rem;
}
.btn:hover{
    background: var(--main-color);
}


.home{
    background:  url(images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
}

.home-text{
    padding-left: 35px;
}

.home-text h1{
    color: var(--bg-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}


.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
    gap: 2rem;
}

.about-img img{
    border-radius: 3rem 0 3rem 3rem;
}

.about-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--main-color);
}

.about-text h2{
    font-size: 1.7rem;
}

.about-text p{
    font-size: 0.938rem;
    margin: 1rem 0 1rem;
}


.head{
    margin-top: 2.5rem;
    text-align: center;
}

.head span{
    font-weight: 500;
    color: var(--main-color);
}

.head h2{
    font-size: 1.7rem;
}

.head p{
    font-size: 0.938rem;
}


.service{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 2.4rem;
}

.service .box{
    padding: 20px;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    text-align: center;
    border-radius: 2rem;
}

.service .box:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.4s all linear;
}

.service .box .bx{
    padding: 10px;
    border-radius: 50%;
    background: #f6f6f6;
    color: var(--main-color);
    font-size: 20px;
}

.service.box h3{
    font-size: 1.1rem;
    margin: 1rem 0 0,4rem;
}

.service .box p{
    font-size: 00.938rem;
}


.heading{
    text-align: center;
    margin-bottom: 2rem;
}

.line{
    margin-top: 2rem;
}

.heading span{
    font-weight: 500;
    color: var(--main-color);
}

.heading h2{
    font-size: 1.7rem;
}

.heading p{
    font-size: 0.938rem;
}

.prop{
    background: #fbfbfb;
    border-radius: 2rem;
}

.prop-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 3rem;
    padding: 0 50px;
}

.prop-container a{
    color: var(--text-color);
}

.prop-container .box{
    background: var(--bg-color);
    padding: 10px;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

.prop-container .box:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.prop-container .box img{
    border-radius: 1rem;
    height: 220px;
    object-fit: cover;
    object-position: center;
}

.prop-container .box h3{
    font-size: 1rem;
    font-weight: 600;
    float: right;
}

.prop-container .box .content{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.prop-container .box .content .text .sec h3{
    margin-top: -2rem;
    color: black;
    font-weight: 700;
}

.prop-container .box .content .text h3{
    font-weight: 500;
    float: left;
}

.prop-container .box .content .text p{
    font-size: 0.8rem;
}

.prop-container .box .content .icon{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.prop-container .box .content .icon bx{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.prop-container .box .content .icon span{
    font-size: 12px;
    font-weight: 500;
    margin-left: 4px;
}

.pro{
    width: 70%;
    height: 300px;
    background: url(proimg/1.PNG);
    border-radius: 1rem;
    background-size: 100% 100%;
    animation: slide 25s infinite;
}

@keyframes slide{
    25%{
        background: url(proimg/2.PNG);
        background-size: 100% 100%;
    }

    50%{
        background: url(proimg/3.PNG);
        background-size: 100% 100%;
    }

    75%{
        background: url(proimg/4.PNG);
        background-size: 100% 100%;
    }

    100%{
        background: url(proimg/5.PNG);
        background-size: 100% 100%;
    }
}



.news{
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-text{
    padding-left: 35px;
}

.news-text span{
    color: black;
}

.news-text h1{
    color: var(--second-color);;
    font-size: 2rem;
    margin-bottom: 1rem;
}


.footer{
    background: var(--text-color);
    color: var(--bg-color);
    border-radius: 5rem 0 0 0;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 2rem;
}

.footer-container h2{
    font-size: 1.7rem;
    font-weight: 500;
}

.footer-box{
    display: flex;
    flex-direction: column;
}

.footer-box h3{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.footer-box a{
    font-size: 0.8rem;
    color: var(--bg-color);
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.footer-box a:hover{
    color: var(--second-color);
}

.social a{
    font-size: 20px;
    margin-right: 1rem;
}


.copyright{
    padding: 10px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-color);
}

.credits{
    padding-top: 0px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-color);
}

.credits a{
    color: black;
}

.credits a:hover{
    color: var(--second-color);
}





@media (max-width: 1080px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: 880px){
    section{
        padding: 4rem 0 3rem;
    }


    .service {
        grid-template-columns: repeat(auto-fit, minmax(190px, auto));
        gap: 1rem;
    } 

    .prop-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        gap: 1rem;
        padding: 0 10px;
    }

    .pro{
        height: 200px;
    }


    .footer-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        gap: 1rem;
    }

    .news, .pro{
        width: auto;
    }
}

@media (max-width: 768px){
    .nav{
        padding: 10px 0;
    }

    #menu-icon{
        display: initial;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--text-color);
        text-align: center;
        clip-path: circle(0% at 100% 1%);
        transition: 0.7s;
    }

    .navbar a{
        display: block;
        margin: 1rem;
        padding: 20px;
        color: var(--bg-color);
    }

    .navbar a:hover{
        background: var(--second-color);
        color: var(--bg-color);
        transition: 0.5s;
    }

    #menu:checked ~ .navbar{
        clip-path: circle(144% at 100% 1%);
    }

    .active {
        clip-path: circle(144% at 100% 1%);
    }

    #menu:checked ~ .active{
        clip-path: circle(0% at 100% 1%);
    }

    .about-text span{
        font-size: 0.9rem;
    }

    .about-text h2,
    .heading h2, .head h2 {
        font-size: 1.4rem;
    }

    .logo{
        width: 23%;
    }
}

@media (max-width: 638px){
    .about-text{
        text-align: center;
    }

    .about-img{
        order: 2;
    }
}

@media (max-width: 442px){
    .home-text{
        padding-left: 14px;
    }

    .home-text h1, .news-text h1{
        font-size: 1.7rem;
    }

    .about-text h2,
    .heading h2, .head h2 {
        font-size: 1.2rem;
    }

    .prop-container{
        padding: 0;
    }

    .logo{
        width: 30%;
    }
}