@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color: #c1d607;
    --second-color: #626a19;
    --text-color: #9ea019;
    --bg-color: rgb(253, 249, 249);

    --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
}

.logo img{
    width: 100%;
}

body{
    margin-top: 8rem;
    color: var(--text-color);
}
section{
    padding: 7rem 0 3rem;
}
header{
    display: block;
    width: 100%;
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 35px;
}

.logo{
    width: 12%;
}

.navbar{
    display: flex;
}

.navbar a{
    padding: 8px 17px;
    color: var(--main-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover{
    color: var(--second-color);
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    display: none;
}
#menu{
    display: none;
}

.btn{
    padding: 8px 22px;
    background: var(--text-color);
    color: var(--bg-color);
    border-radius: 5rem;
}
.btn:hover{
    background: var(--main-color);
}


.contact{
    position: relative;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(8.webp);
    background-size: contain;
}

.content{
    max-width: 800px;
    text-align: center;
}

.content h2{
    font-size: 36px;
    font-weight: 500;
    color: var(--text-color);
}

.content p{
    font-weight: 300;
    color: #fff;
}

.con{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.text h3{
    font-weight: 500;
    color: var(--text-color);
}

.text a{
    text-decoration: none;
    color: #fff;
}

.contactform{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactform h2{
    font-size: 30px;
    color: black;
    font-weight: 500;
}

.inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.inputBox input, textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #666;
    outline: none;
    resize: none;
}

span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

input:focus ~ span, input:valid ~ span,
textarea:focus ~ span, textarea:valid ~ span{
    color: var(--text-color);
    font-size: 12px;
    transform: translateY(-20px);
}

input[type="submit"]{
    width: 100px;
    background: var(--text-color);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}




.footer{
    background: var(--text-color);
    color: var(--bg-color);
    border-radius: 5rem 0 0 0;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 2rem;
}

.footer-container h2{
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--bg-color);
}

.footer-box{
    display: flex;
    flex-direction: column;
}

.footer-box h3{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.footer-box a{
    font-size: 0.8rem;
    color: var(--bg-color);
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.footer-box a:hover{
    color: var(--second-color);
}

.social a{
    font-size: 20px;
    margin-right: 1rem;
}

.copyright{
    padding: 10px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-color);
}

.credits{
    padding-top: 0px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-color);
}

.credits a{
    color: black;
}

.credits a:hover{
    color: var(--second-color);
}








@media (max-width: 1080px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: 991px){
    .contact{
        padding: 50px;
        background-size: 100% 100%;
    }

    .con{
        flex-direction: column;
    }

    .contactinfo{
        width: 100%;
        margin-bottom: 40px;
    }

    .contactform{
        width: 100%;
    }
}


@media (max-width: 880px){
    section{
        padding: 4rem 0 3rem;
    }

    .footer-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        gap: 1rem;
    }
}

@media (max-width: 768px){

    .nav{
        padding: 10px 0;
    }

    #menu-icon{
        display: initial;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--text-color);
        text-align: center;
        clip-path: circle(0% at 100% 1%);
        transition: 0.7s;
    }

    .navbar a{
        display: block;
        margin: 1rem;
        padding: 20px;
        color: var(--bg-color);
    }

    .navbar a:hover{
        background: var(--second-color);
        color: var(--bg-color);
        transition: 0.5s;
    }

    #menu:checked ~ .navbar{
        clip-path: circle(144% at 100% 1%);
    }

    .logo{
        width: 23%;
    }

    .news{
        margin-top: -100px;
    }
}


@media (max-width: 442px){

    .logo{
        width: 30%;
    }
}